<!-- views/add.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Add | Online Calculator</title>
</head>
<body>
  	<h1 style="text-align:center">Added numbers</h1>
  	<h4 style="text-align:center"><%=@first_number%> + <%=@second_number%></h4>
	<h1 style="text-align:center"><%= @result = @first_number + @second_number %></h1>	
</html>
